body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 300px;
}

h1 {
    font-size: 55px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.calc-container {
    display: flex;
    flex-direction: column;
    border: 5px solid rgb(158, 40, 32);
    border-radius: 8px;
    background-color:rgb(32, 91, 158);

}

.output {
    width: 300px;
    height: 100px;
    border: 2px solid black;
    margin: 5px;
    border-radius: 8px;
    background-color: rgb(172, 161, 161);
}

.buttons {
    display: flex;
    width: 300px;
    margin: 5px;
}

.num-buttons {
    display: flex;
    width: 225px;
    flex-wrap: wrap-reverse;
    gap: 2px;
}

.num-buttons button {
    width: 65px;
    height: 70px;
    font-size: 22px;
    border-radius: 8px;
}

.operator-buttons {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.operator-buttons button {
    width: 100px;
    height: 25%;
    font-size: 33px;
    border-radius: 8px;
}

.clear {
    font-size: 22px !important;
}

.operation-display {
    font-size: 22px;
    color: navy;
    font-family: 'Chakra Petch', sans-serif;
}

.answer {
    font-size: 66px;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 10px;
    font-family: 'Chakra Petch', sans-serif;
    color: black;
}